*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* Estilos generales*/
html {
    scroll-behavior: smooth;
  }
  
body{
    background-color: black !important;
    font-family: "Raleway", sans-serif;
}
p{
    font-size: 0.938rem;

}
h3{
    font-family: "Raleway", sans-serif;
    font-size: 2.188rem;   
}

h6{
    font-family: "Raleway", sans-serif;
    font-size: 1.563rem;
   
}
h5{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

#logocvg {
    width: 20%;
    margin-right: 0.625rem;
 }

.navbar link{
    cursor: pointer;
}  

 .carousel-inner img {
    height: 37.5rem;
    object-fit: cover;
} 

.carousel button{
    cursor: pointer;
}
.til{
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.linea{
    background-color: white;
    height: 0.188rem;

}
.sec-qui{
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    color: white;
    padding-top: 50px;

}
.bofa{
    background-color: #0dcaf0;
    width: 100%;
    height: 3.125rem;
}
.fa-ico{
    font-size: 2em;
}

.sec-con
{
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
     
}
.cajacard{
    margin-top: 90px;
    margin-bottom: 90px;
}

.colr{
    background-color: #0dcaf0;
}
.taimg{
    height: 200px ;
}

#boton{
    background-color: #0dcaf0;
    border: 0;
    cursor: pointer;
}
#boton:hover{
    background-color: #065e6f;
}

.tooltip-inner {
    background-color: #0dcaf0 !important;
    color: #fff;
    
}
.tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #0dcaf0 !important;
}

footer{
    background-color: #0dcaf0;
}
footer a i {
    cursor: pointer;
}
.texfoo{
   
    font-size: 1.875rem;
    color: white;
   }  

@media screen and (max-width:480px){
    .sec-qui{
        display: none;
    }
}