*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* Estilos generales*/
html {
    scroll-behavior: smooth;
  }
body{
    background-color: black !important;
    font-family: "Raleway", sans-serif;
}
p{
    font-size: 0.938rem;
}
h3{
    font-family: "Raleway", sans-serif;
    font-size: 2.188rem;   
}
h6{
    font-family: "Raleway", sans-serif;
    font-size: 1.563rem;
}
h5{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
/* Estilos navbar*/
#logocvg {
    width: 20%;
    margin-right: 0.625rem;
}
.navbar link{
    cursor: pointer;
}  
/* Estilo carrusel*/
 .carousel-inner img {
    height: 37.5rem;
    object-fit: cover;
} 
.carousel button{
    cursor: pointer;
}
/* Estilos de los titulos y lineas*/
.til{
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.linea{
    background-color: white;
    height: 0.188rem;

}
/* Estilos de quienes somos*/
.sec-qui{
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    color: white;
    padding-top: 3.125rem;

}
.bofa{
    background-color: #0dcaf0;
    width: 100%;
    height: 3.125rem;
}
.fa-ico{
    font-size: 2em;
}
/* Estilos de card*/
.cajacard{
    margin-top: 5.625rem;
    margin-bottom: 5.625rem;
}
.colr{
    background-color: #0dcaf0;
}
.taimg{
    height: 12.5rem ;
}
/* Estilos de contacto*/
.sec-con
{
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;   
}
#boton{
    background-color: #0dcaf0;
    border: 0;
    cursor: pointer;
}
#boton:hover{
    background-color: #065e6f;
}
.tooltip-inner {
    background-color: #0dcaf0 !important;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.125rem;
    
}
.tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #0dcaf0 !important;   
}
/* Estilos de footer*/
footer{
    background-color: #0dcaf0;
}
footer a i {
    cursor: pointer;
}
.texfoo{
   
    font-size: 1.875rem;
    color: white;
}  
@media screen and (max-width:480px){ /* tamaño de mobile sacado de boostraps*/
    .sec-qui{
        display: none;
    }
}